h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Damion', cursive;

}

p {
    font-size: 20px;
    text-align: center;
    border: 3px solid black;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.avatar {
    height: 10rem;
}

.intro {
    text-align: center;
}

.centered {
    position: fixed;
    top: 20%;
}

.intro p {
    background-color: cornflowerblue;
    color: whitesmoke;
    line-height: 2.5rem;
    font-size: 1.5rem;
}

.merci {
    font-family: 'Damion', cursive;
    font-size: 1rem;
}